<footer class="footer mt-auto text-center">
    <div class="text-center p-3">Copyright &copy; 2021 All Rights Reserved
        by <a class="text-dark" href="https://www.linkedin.com/in/pooja-r-a-o/" target="_blank">Pooja Rao</a> and <a
            class="text-dark" target="_blank" href="https://www.linkedin.com/in/bhagyashree-shakrawar/">Bhagyashree</a>
    </div>
</footer>