<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Mr Coffee's Schedule Website</span>
        <a class="btn btn-outline-primary" role="button" href="/logout">Logout</a>
    </div>
</nav>