* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
  height: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
nav{
    background-color: rgb(78, 78, 138);
}
#form-style {
    width: 50%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border: 1px rgb(78, 78, 138) solid;
}
h2,h3,p,h1 {
    text-align: center;
    padding: 1rem;
} 
.userCard{
    max-width: 18rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(78, 78, 138);
    color: white;
}
.scheduleCard{
    max-width: 18rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.userTable{
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    border: rgb(78, 78, 138) 1px solid;
}
