#login-form {
    width: 50%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border: 0.2rem rgb(163, 163, 177) solid;
}

h1,
p {
    text-align: center;
    padding: 1rem;
}