<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Home Page</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <h3>Welcome!!</h3>
        <%- include('../partials/footer.ejs') %>
</body>

</html>