<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <h2>Please login</h2>
    <!-- Form starts here -->
    <form id="form-style">
        <div class="mb-3">
            <label for="login-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" name="email" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="login-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="login-password" name="password" required>
        </div>
        <a role="button" class="btn btn-primary btn-lg" href="/homepage">Login</a>
        <a role="button" class="btn btn-primary btn-lg" href="/signup">Sign up</a>
    </form>
    <%- include('../partials/footer.ejs') %>
</body>

</html>