<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Sign Up</title>
</head>

<body>
    <h3>SIGN UP</h3>
    <p>It's quick and easy.</p>
    <form action="/signup" method="POST" id="form-style" class="mt-5">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">First name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your First Name" name="firstname">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your Last name" name="lastname">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Email Address" name="email">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Type Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Create Password" name="passwrod">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Confirm Password">
        </div>

        <a role="button" class="btn btn-primary btn-lg" href="/">Submit</a>
    </form>
    <%- include('../partials/footer.ejs') %>
</body>

</html>